{% import '@dcla/icons/icons.twig' as icons %}
{{ attach_library('dcla/card') }}

<article class="card {{ classes|default('') }}">
  {% if eyebrow %}
    {%
      include '@dcla/eyebrow/eyebrow.twig' with {
        'eyebrow': eyebrow,
        'classes': 'card__eyebrow',
      } only
    %}
  {% endif %}

  <div class="card__brand">
    <span class="card__icon">
      {{ icons.get(icon, 'card__icon--item') }}
    </span>
    <h3 class="card__title">{{ title }}</h3>
  </div>

  <p class="card__body">{{ body }}</p>
  <p class="card__more">
    <a class="card__more--link" href="{{ more }}">{{ moreText }}</a>
  </p>
</article>
