{{ attach_library('workshop/card') }}
<article class="card {{ modifier_class }} {{ class|default('') }}">
  <div class="card__image">
    {{ image }}
  </div>

  <div class="card__text">
    {%
      include '@workshop/heading/heading.twig' with {
        'heading': heading,
        'class': 'card__heading',
      } only
    %}

    <div class="card__teaser">
      {{ teaser }}
    </div>

    {%
      include '@workshop/button/button.twig' with {
        'more': more,
        'class': 'card__more',
      } only
    %}
  </div>

</article>
