{{ attach_library('badcamp/volunteer') }}
<div class="volunteer {{ class|default('') }}">
  {% if name %}
    <h1 class="volunteer__name">{{ name }}</h1>
  {% endif %}

  {% if image %}
    <div class="volunteer__image">{{ image }}</div>
  {% endif %}

  {% if type %}
    <div class="volunteer__type">{{ type }}</div>
  {% endif %}

  {% if bio %}
    <p class="volunteer__bio">{{ bio }}</p>
  {% endif %}

  {% if socialIcons %}
    {%
      include '@badcamp/social-icons/social-icons.twig' with {
        'items': socialIcons,
        'classes': 'volunteer__social-icons',
      } only
    %}
  {% endif %}
</div>
